/**{
    margin: 0;
    padding: 0;
}
#topo{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    opacity: 0.4;
}
#topo h2{

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    float: left;
    width: 225px;
    height: 52px;
    padding-top: 1px;
    padding-left: 10px;
    margin-right: 502px;
}
#menu{
    width: 500px;
    height: 52px;
    padding-top: 1px;
}

#menu ul{
    widows: 500px;
    height: 40px;

}

#menu ul li{
    list-style: none;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;     
    font-size: 16px;
}

#menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
    width: 109px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul li a:hover{
    text-decoration-line: underline;
    text-decoration-color: red;
}

#imgTopo{
    width: 100%;
    height: 644px;
    background-image: url(../img/img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
}

#imgTopo h3{
    width: 800px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-top: 280px;
    text-shadow: -2px 2px 1px black; 
}

#imgTopo button{
    width: 158px;
    height: 45px;
    background-color: #b75;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    border: none;
    box-shadow: 0px -1px 7px white;
    cursor: pointer;
}

#imgTopo button:hover{
    background-color: rgb(247, 113, 115)
}

#passarinho{
    width: 100%;
    height: 600px;
    background-image: url(../img/fundo02.png);
    padding-top: 50px;
}

#primeira_linha{
    width: 820px;
    height: 250px;
    display: flex;
    margin: 0 auto;
}

#logo{
	
    height: 250px;
    float: left;
}
.icone{
	width: 236px;
    height: 250px;
	
	padding-left:80px;
}
.icone img{
	
    width: 230px;
    height: 240px;
}

#texto_passaro{
    width: 541px;
    height: 220px;
    padding-left: 15px;
    padding-top: 47px;
}

#texto_passaro p{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 25px;

}

#texto_passaro h1{
    width: 377px;
    color: #d75c75;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 68px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-top: 28px;
}

#segunda_linha{
    width: 1150px;
    background-color: #a3ac94;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.bola_passaro{
    width: 419px; 
    height: 363px;
    background-color: #d1d2d0;
    margin-top: 100px;
    padding: 5px;
    padding-top: 25px;
    border-radius: 282px;
    text-align: center;
}
.bola_passaro h2{
    padding-top: 5px;
    padding-bottom: 10px; 
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px saddlebrown;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #3c5254
}

.bola_passaro p{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #3c5254;
    line-height: 50px;
    font-size: 16px;
}

.bola_passaro h3{
    line-height: 45px;
    color: #3c5254;
    text-align: center;
}

.bola_passaro button{
    background-color: #d959e3;
     width: 158px;
    height: 45px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    border: none;
    box-shadow: 0px -1px 7px white;
    cursor: pointer;

}

.bola_passaro button :hover{
    background-color: #b75;
}
#menininha{
    width: 100%;
    height: 487px;
    background-image: url(../img/fundo03.png);
    padding-top: 45px;
    display: flex;
}

#menina{
    width: 570px;
    height: 380px;
    margin-left: 150px;
}

#menina img{
    width: 570px;
    height: 380px;
}

#texto_menina{
    width: 400px;
    height: 380px;
    margin-left: 10px;
    padding: 5px;
    color: #3c5254;
}

#texto_menina h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5px;
    margin-bottom: 5px;
}

#texto_menina h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

#texto_menina p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    line-height: 22px;
    text-align: justify;    
}

#pessoas{
    width: 100%;
    height: 580px;
    background-image: url(../img/fundo04.png);
    padding: 10px;
}

.bordas{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 3px double red;
}

.bordas h2{
    background-image: url(../img/fundo04.png);
    padding-top: 10px;
    width: 150px;
    height: 20px;
    text-align: center;
    position: relative;
    left: 600px;
    top:27px;
}
#bolinhas{
    width: 1024px;
    height: 515px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;

}

.bola{
    width: 250px;
    height: 515px;
    padding: 5px;
}

.bola img{
    width: 240px;
    height: 240px;
    border-radius: 200px;
}

figcaption{
    width: 240px;
    height: 250px;
    margin: 0 auto;
    padding: 3px;
    margin-top: 5px;
}

figcaption h3{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px sienna;
    text-align: center;
}

figcaption p{
    font-size: 16px;
    text-align: justify;
    color: white;
}

#blog{
    width: 100%;
    height: 560px;
    background-image: url(../img/fundo03.png);
}

.brblog h2{
    background-image: url(../img/fundo03.png);
    width: 250px;
    margin-left: -110px;
}

.texto_blog{
    
    width: 274px;
    height: 430px;
     float: left;
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    padding-top: 15px;
}

.texto_blog h3 {
    margin-bottom: 3px;
    color: red;
}
.texto_blog h4 {
    margin-bottom: 3px;
}

.texto_blog button{
    background-color: #d959e3;
     width: 158px;
    height: 45px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    border: none;
    box-shadow: 0px -1px 7px white;
    cursor: pointer;
    margin-left: 50px;
}

.texto_blog button:hover{
    background-color: red;
}

.texto_blog p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

form{
    width: 100%;
    height: 290px;
    background-image: url(../img/fundo05.png);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 45px;
    
}

form label{
    margin: 5px;
}
form input{
    width:200px;
    height: 45px;
    border: 1px solid silver;
}

footer{
    width: 100%;
    height: 110px;
    background-color: #3f053f;
    padding-top: 5px;
    text-align: center;
	position: fixed; 
	margin-top: 1024px;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}*/


.modal-dialog{
    z-index: 3;
}
.modal-backdrop{
    z-index: 3;
}
